<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/app")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/jquery")
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <section class="hbox stretch">
        <!-- .aside -->
        <aside class="bg-dark aside-md" id="nav">
            <section class="vbox">
                <header class="nav-bar dker"> <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="body"> <i class="icon-reorder"></i> </a> <a href="#" class="nav-brand" data-toggle="fullscreen">todo</a> <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user"> <i class="icon-comment-alt"></i> </a> </header>
                <section>
                    <div class="lt nav-user hidden-xs pos-rlt">
                        <div class="nav-avatar pos-rlt">
                            <a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown"> <img src="images/avatar.jpg" alt="" class=""> <span class="caret caret-white"></span> </a>
                            <ul class="dropdown-menu m-t-sm animated fadeInLeft">
                                <span class="arrow top"></span>
                                <li> <a href="#">Settings</a> </li>
                                <li> <a href="profile.html">Profile</a> </li>
                                <li> <a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a> </li>
                                <li class="divider"></li>
                                <li> <a href="docs.html">Help</a> </li>
                                <li> <a href="signin.html">Logout</a> </li>
                            </ul>
                            <div class="visible-xs m-t m-b">
                                <a href="#" class="h3">John.Smith</a>
                                <p><i class="icon-map-marker"></i> London, UK</p>
                            </div>
                        </div>
                    </div>
                    <nav class="nav-primary hidden-xs">
                        <ul class="nav">
                            <li> @Html.ActionLink("Tarefas", "Index", "Tarefas")</li>
                            <li> @Html.ActionLink("Categorias", "Index", "Categorias")</li>
                            <li> @Html.ActionLink("Tags", "Index", "Tags")</li>
                        </ul>
                    </nav>
                </section>
            </section>
        </aside>


        <section id="container">

            <header class="header bg-light lter bg-gradient b-b">

                <p><b>&raquo; @ViewBag.Title</b></p>
            </header>

            <section class="scrollable wrapper">

                @RenderBody()

            </section>

        </section>
    </section>
    <!-- /.vbox -->

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
